.logo{
    font-size: 20px;
    padding: 0px 10px;
}
.buttons{
    font-size: 17px;
    vertical-align: bottom;
    color: white;
}
.download{
    padding: 0px 5px;
    font-size: 18px;
    color: white;
}