<div class="container">
    <div fxLayout="row">
        <mat-card class="main">
            
            <div fxLayout="row" fxLayoutAlign="center none" class="header">
                <mat-list fxFlex>
                    <mat-list-item>
                      <img matListAvatar src="../../assets/images/luis.jpg" alt="foto">
                      
                        <h3 matLine>Luis Monedero Rodriguez</h3>
                        <p matLine>Nacionalidad: Española</p>
                        <p matLine>Dirección: Cartagena 166</p>
                        <p matLine>CP Ciudad: 28002</p>
                        <p matLine><fa-icon [icon]="faPhone"></fa-icon>: 667 88 49 68</p>
                        <p matLine><fa-icon [icon]="faEnvelope"></fa-icon>: luis.monedero8@gmail.com</p>
                      
                    </mat-list-item>
                </mat-list>
            </div>
            <hr>

            <div>
                <blockquote>Desarrollador Front que sigue formandose para alcanzar un conjunto de técnicas, principios, metodologías 
                    que le permitan a su codigo ser fácil, rápido y seguro de desarrollar, mantener y desplegar.
                </blockquote>
            </div>
            <div class="justify">
                <h3>Experiencia Profesional</h3>
                <div>
                    <p><strong>Abrl 2021 - Actualidad. Contrato en prácticas a tiempo completo</strong> desarrollando en
                    Cells + LitElement diversas tareas, como el desarrollo de nuevas funcionalidades para las páginas de BBVA, 
                    el mantenimiento de componentes que necesitan actualizarse tras las subidas de version, arreglando problemas 
                    visuales, el desarrolo de nuevos componentes que se requieren en diferentes proyectos o proporcionando soporte 
                    a otros equipos.</p>
                </div>
                <div>
                    <strong>Mar 2020 - Jun 2020. - 240 horas de prácticas regladas con el IES Virgen de la Paloma</strong> en la que mi función principal
                    fue unirme al equipo de programadores encargados del desarrollo de la página web de Makenai
                    Solutions para su sucursal en Francia. Aplicando los conocimientos adquiridos en HTML, CSS y
                    Javasript; además de adquirir experiencia en:
                    <ul>
                        <li>BitBucket, como sistema de control de versiones para los proyectos.</li>
                        <li>Webex, como plataforma de comunicación interna.</li>
                    </ul>
                </div>
            </div>
            <div class="justify">
                <h3>Educación</h3>
                <div class="no-deco">
                    <p><strong>2021. Curso Online ‘JavaScript: ECMAScript 6 y todos sus detalles’ a través de la
                        plataforma Udemy.
                    </strong></p>
                </div>
                <div class="no-deco">
                    <p><strong>2021. Curso Online ‘Git Essentials: Learn Git with Bitbucket and Sourcetree’ a través de la
                        plataforma Udemy.
                    </strong></p>
                </div>
                <div class="no-deco">
                    <p><strong>2021. Curso Online de ‘Front-End Javascript Frameworks: Angular’ a través de la
                        plataforma Coursera y ofrecido por The Hong Kong University of Science and Technology.
                    </strong></p>
                    <div class="hide">
                        Curso de 38h donde se da una vista general del framework Angular aprendiendo a trabajar con
                        diferentes módulos, componentes, directivas y servicios, como también a comunicar cliente y
                        servidor a través del cliente HTTP usando REST APIS.
                    </div>
                </div>
                <div class="no-deco">
                    <p><strong>2021. Curso Online de ‘Front-End Javascript Frameworks and Tools: Bootstrap 4’ a través
                        de la plataforma Coursera y ofrecido por The Hong Kong University of Science and
                        Technology.
                    </strong></p>
                    <div class="hide">
                        Curso de 31h donde se imparte una visión general del lado del cliente desde Bootstrap4
                        aprendiendo sobre diseño responsive, Bootstrap CSS, componentes Javascript, SASS y las
                        básicas de Node.js y NPM.
                    </div>
                </div>
                <div class="no-deco">
                    <p><strong>2017-2020. Ciclo Formativo de Grado Superior en "Desarrollo de Aplicaciones
                        Multiplataforma" en IES Virgen de la Paloma.
                    </strong></p>
                    <div class="hide">
                        <ul>
                            <li>Gestionar bases de datos, interpretando su diseño lógico y verificando integridad,
                                consistencia, seguridad y accesibilidad de los datos.
                            </li><br>
                            <li>Gestionar entornos de desarrollo adaptando su configuración en cada caso para permitir
                                el desarrollo y despliegue de aplicaciones.
                            </li><br>
                            <li>Desarrollar aplicaciones multiplataforma con acceso a bases de datos utilizando
                                lenguajes, librerías y herramientas adecuados a las especificaciones.
                            </li><br>
                            <li>Integrar contenidos gráficos y componentes multimedia en aplicaciones
                                multiplataforma, empleando herramientas específicas y cumpliendo los requerimientos
                                establecidos.
                            </li><br>
                            <li>Desarrollar interfaces gráficos de usuario interactivos y con la usabilidad adecuada,
                                empleando componentes visuales estándar o implementando componentes visuales
                                específicos.
                            </li><br>
                            <li>Desarrollar aplicaciones para teléfonos, PDA y otros dispositivos móviles empleando
                                técnicas y entornos de desarrollo específicos.
                            </li><br>
                            <li>
                                Desarrollar aplicaciones multiproceso y multihilo empleando librerías y técnicas de
                                programación específicas.
                            </li><br>
                        </ul>
                    </div>
                </div>
                <div class="no-deco">
                    <p><strong>2016-2017. Informatik en la Universidad de Ciencias Aplicadas de Rosenheim (Alemania)
                    </strong></p>
                </div>
                <div class="no-deco">
                    <p><strong>
                        2012-2014. Bachillerato de Ciencias/Ingeniería en el Centro de Formación Padre Piquer.
                    </strong></p>
                </div>
            </div>
            <div>
                <h3>Idiomas</h3>
                <ul>
                    <li><strong>Alemán:</strong> Bilingüe. Certificado C1 en la academia ASL Internationale Sprachenshule (Munich)</li><br>
                    <li><strong>Inglés:</strong>Avanzado.</li><br>
                    <li><strong>Francés:</strong> Intermedio bajo. DELF A2. </li><br>
                </ul>
            </div>
        </mat-card>
    </div>
</div>