<div class="container">
    <mat-card class="main">
        <div fxFlex>
            <div>
                <h2>Sobre mi</h2>
                <hr>
            </div>
        </div>
        <div fxLayout="row">
            <mat-card>
                <p style="text-align: justify;"><!--Welcome to my website!<br>
                    I'm Luis Monedero Rodríguez, Fullstack web developer from Madrid, Spain.
                    Currently, I am looking for a company where i can develop my programming skills while I am finishing a 
                    course of Server-side Development in Coursera and working in other projects as a freelance.
                    I am passionate about learning and sharing my knowledge with others. You will always see me doing 
                    a course and learning something new. When I am not developing I watch movies and series, play videogames
                    or try to do some sport.-->
                    Bienvenido a mi página web!<br>
                    Soy Luis Monedero Rodríguez, Desarrollador Front de Madrid, España.
                    Actualmente, trabajando para Minsait como desarrollador de componentes LitElement mientras voy afianzando y afilando 
                    mis conocimientos de Javascript.<br>
                    Soy entusiasta a la hora de aprender y compartir conocimientos con otras personas, de hecho, 
                    siempre me encontrarás haciendo un curso para aprender algo nuevo. 
                </p>
            </mat-card>
        </div>


        <div fxFlex>
            <div>
                <h2>Habilidades</h2>
                <hr>
            </div>
        </div>
        <div fxLayout="row">
            <div class="chip-list">
                <h3>Lenguajes de Diseño Web:</h3>
                <mat-chip-list>
                    <mat-chip class="yellow">Javascript</mat-chip>
                    <mat-chip class="red color">Angular</mat-chip>
                    <mat-chip class="darker-blue color">JQuery</mat-chip>
                    <mat-chip class="blue color">Typescript</mat-chip>
                    <mat-chip class="orange color">HTML5</mat-chip>
                </mat-chip-list>
            </div>
            <div class="chip-list">
                <h3>Lenguajes para Apps Móviles:</h3>
                <mat-chip-list>
                    <mat-chip class="orange color">Kotlin</mat-chip>
                    <mat-chip class="red color">Java</mat-chip>
                </mat-chip-list>
            </div>
            <div class="chip-list">
                <h3>Lenguajes de estilo:</h3>
                <mat-chip-list>
                    <mat-chip class="blue color">CSS3</mat-chip>
                    <mat-chip class="light-pink color">Sass</mat-chip>
                    <mat-chip class="dark-blue color">Less</mat-chip>
                </mat-chip-list>
            </div>
            <div class="chip-list">
                <h3>Controladores de Versión:</h3>
                <mat-chip-list>
                    <mat-chip class="orange color">Git</mat-chip>
                    <mat-chip class="darker-blue color">GitHub</mat-chip>
                    <mat-chip class="blue color">Bitbucket</mat-chip>
                </mat-chip-list>
            </div>
            <div class="chip-list">
                <h3>Editores de Código:</h3>
                <mat-chip-list>
                    <mat-chip class="blue color">VSCode</mat-chip>
                    <mat-chip class="green color">Android Studio</mat-chip>
                    <mat-chip class="red color">NetBeans</mat-chip>
                    <mat-chip class="purple color">Eclipse</mat-chip>
                    <mat-chip class="yellow">Sublime Text</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card>
</div>